config rcd rcd
	option enabled '0'
	option listen '0.0.0.0'

# Ipv4 mqtt broker
#config mqtt 'mqtt'
#	option addr '1.2.3.4:1883'
#	option id 'rcd-node01'
#	option bindaddr '192.168.1.34'

# IPv6 mqtt broker
#config mqtt 'mqtt'
#	option addr '[1234::5678]:1883'
#	option id 'rcd-node01'
#	option bindaddr '[::]'

