config rcd rcd
	option enabled '0'
	option listen '0.0.0.0'
	# global mqtt prefix for topics that messages get published to. Must end with '/'
#	option topic 'example/'
	# global ID for this node
#	option id 'openwrt'

# define mqtt brokers
#config mqtt 'broker0'
#	option addr 1.2.3.4
#	option port 1883
#	# optionally overwrite global topic prefix and ID
#	option topic 'measurement/'
#	option id 'measurement-node01'

