config rcd rcd
### these global options only get parsed if minsrel-rcd is started through procd
	option enabled '0'
	option listen '0.0.0.0'

### additional global config options if minstrel-rcd is compiled with zstd compression
#	option dict '/lib/minstrel-rcd/dictionary.zdict' # path to a zstd dictionary file
#	option compression_level 3
#	option bufsize 4096 # size of the buffer where data gets collected before compression
#	option timeout_ms 1000 # maximum time between buffer flushes in milliseconds

### additional global config options if minstrel-rcd is compiled with mqtt support
#	option topic 'exampletopic/' # global topic prefix . Must end with '/'
#	option id 'openwrt' # global ID for this node

### additional sections for configuring mqtt brokers (give one section per broker)
# config mqtt 'broker0'
#	option addr 1.2.3.4
#	option port 1883
#	option topic 'measurement/' # optionally overwrite global topic prefix
#	option id 'measurement-node01' # optionally overwrite global ID
